<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
      h1{
        color: #2F4F4F;
      }
      body{
        background-color: #ADD8E6;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
     }

      img {
        width: 300px;
      }
      table,
      td {
        border: 1px solid #333;
      }

      thead,
      tfoot {
        background-color: #333;
        color: #fff;
      }
    </style>
  </head>
    <header>
      <h1>Welcome To Rent-A-Cat</h1>
    </header>

    <% if logged_in? %>
       <h3>Welcome, <%= current_user.user_name %>!</h3>
    <% else %>
      <a href="<%= new_user_url %>">Sign Up</a>
      <br>
      <a href="<%= new_session_url %>">Login</a>
    <% end %>

    <form action="<%= session_url %>" method='post'>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Logout">
    </form>

    <%= yield %>
    
  </body>
</html>
